@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


:root {
  --main: #2f2021;
  --accent: #ff4732;
  --light: #f6fbf9;
  --dark: #eff2f1;
}

* {

  box-sizing: border-box;
 }

html {
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--dark);
  color: var(--main);

}

body {
  margin: 0;
}


/* HEADER */

.header {
  text-align: center;

}

/* LOGO */

.header__logo {
  font-size: 1.1rem;
}

.header__logo-tolkien {
  color: var(--accent);
  font-size: 1.2rem;
  letter-spacing: 1px;
}

/* SEARCH BAR */

.search-bar {
  justify-content: center;
  position: relative;
  width: 18rem;
  margin: auto;

}

.search-bar__input {
  border: none;
  background-color: #f6fbf9;
  width: 100%;
  padding: 0.5rem 1.2rem;
  font-size: 0.8rem;
  border-radius: 20px;
  height: 2.1rem;
}

.search-bar__button {
  background-color: var(--accent);
  height: 1.8rem;
  border: none;
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 3px;
}

.search-bar__search-image {
  height: 100%;

}

/* MAIN */

.main-content {
  display: flex;
  margin: 2rem 2rem;
  flex-wrap:wrap;
  gap: 1rem
}

.main-content__posts-list {
  flex: 3 65%;

}

.main-content__accounts-panel {
  flex: 2 200px;

}

/* POST */

.post__post-wrapper {

  padding: 2rem 2rem 2rem 1rem;
  display: flex;
  gap: 1rem;
  background-color: var(--light);
  border-radius: 30px;
}

.post__post-container {
  flex: 1
}

.post__post-image-container {
  width: 100%;
}

.post__post-image-container img {
  width: 100%; 
  border-radius: 5px;
  height: auto; 
  object-fit: fill;
}

.post__post-title {
  margin-top: 0;
}


/* POST VOTE PANEL   */


.post__voting {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.post__voting-counter {
  margin: 0.4rem 0;
}

/* POST DETAILS */

.post__post-details {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.post__post-comment-container {
  display: flex;
  justify-content: space-between;
}

.post__post-author {
  color:var(--accent);
  font-weight: 700;
}


.post__post-date {
  font-size: 0.7rem;
  color: #625b5c;
}




/* ACCOUNT LIST */

.accounts-panel__wrapper {
  padding: 2rem 1.2rem;
  background-color: var(--light);
  border-radius: 30px;

}


.accounts-panel__title {
  margin-top: 0;
}

.accounts-list {
 list-style-type: none;
 padding: 0;
}

.account {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  margin: 0.4rem 0;
  padding: 0.7rem;
  gap: 0.4rem;
  width: 100%;
  font-weight: 700;
  background-color: var(--light);

}

.account:hover {
  background-color: var(--dark);
  border-radius: 10px;
}

.account__avatar {
  width: 27px;
  border-radius: 50%;
  border: 3px solid rgb(61, 61, 61)


}

/* COMMNETS */

.comments-container {
  margin-top: 2rem;
}

.comment {
  margin: 1rem 0;
  padding: 1.5rem;
  background-color: var(--dark);
  border-radius: 30px;

}
.comment__comment-info {
  display: flex;
  align-items: center;
  gap: 0.5rem



}
.comment__comment-author {
  margin: 0;
  font-size: 0.8rem;
  color: var(--accent);

}
.comment__comment-date {
  font-size: 0.7rem;
  color: #625b5c;

}
.comment__comment-content {
  font-size: 0.8rem;

}